<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">

    <title>Art Pieces</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a th:href="@{/index}" class="navbar-brand" href="#">Art Muse 🎀</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:href="@{/index}" class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gallery}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/artists}" class="nav-link">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}" >About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--fin nav bar-->

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header">New artwork ✨</div>
                <div class="card-body"></div>
                <div class="p-4">
                    <form th:action="@{/saveart}" method="post">
                        <div th:class="mb-2">
                            <label class="form-label">Name</label>
                            <input type="text" name="title" class="form-control" th:value="${art.title}">
                            <span class="text-danger" th:errors="${art.title}"></span>
                        </div>

                        <div th:class="mb-2">
                            <label class="form-label">Description</label>
                            <input type="text" name="description" class="form-control" th:value="${art.description}">
                            <span class="text-danger" th:errors="${art.description}"></span>
                        </div>


                        <div th:class="mb-2">
                            <label class="form-label">Image</label>
                            <input type="text" name="image" class="form-control" th:value="${art.image}">
                            <span class="text-danger" th:errors="${art.image}"></span>
                        </div>
                        <button  onclick="return confirm('Confirm your profile creation??')" class="btn btn-primary">Sign up</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>